<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ocboe.tech.schooltickettracker"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme"
        android:supportsRtl="true">

        <activity android:name=".MainActivity" android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".TechSummaryActivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".DisposeActivity"/>

        <activity android:name=".SettingsActivity" />

        <activity android:name=".InventoryActivity" />

        <service android:name=".updater.DownloadUpdateService"
            android:exported="false" />
    </application>

</manifest>